#bcustomermanage {
    .content {
        padding-bottom: 100px;
        .tabcont {
            margin: 0 auto;
            width: 1200px;
            margin-top: 50px;
            padding-top: 12px;
            .tabheader {
                height: 68px;
                text-align: left;
                border: 1px solid #e5e5e5;
                background-color: #fafafa;
                // overflow: hidden;
                span {
                    // z-index: 2;
                    display: block;
                    float: left;
                    padding: 0 30px;
                    margin-top: 10px;
                    height: 57px;
                    line-height: 57px;
                    &.th {
                        font-weight: bold;
                    }
                    &.thclick {
                        color: #a0b4c4;
                    }
                    &.active {
                        border: 1px solid #e5e5e5;
                        border-bottom: none;
                        background-color: #fff;
                        color: #3f8fdb;
                    }
                }
            }
            .tabbody {
                width: 100%;
                min-height: 700px;
                background-color: #fff;
                padding: 20px;
            }
        }
        @mixin searchinput() {
            outline: none;
            height: 40px;
            width: 200px;
            background-color: #edf5fb;
            color: #b1bdd2;
            text-align: center;
            border: none;
            font-size: 16px;
            box-shadow: inset 1px 1px 8px #e2e9ef;
            -webkit-box-shadow: inset 1px 1px 8px #e2e9ef;
            -moz-box-shadow: inset 1px 1px 8px #e2e9ef;
            margin-right: 10px;
            &:-webkit-input-placeholder {
                /* WebKit browsers */
                color: #b1bdd2;
            }
            &:-moz-placeholder {
                /* Mozilla Firefox 4 to 18 */
                color: #b1bdd2;
            }
            &:-moz-placeholder {
                /* Mozilla Firefox 19+ */
                color: #b1bdd2;
            }
            &:-ms-input-placeholder {
                /* Internet Explorer 10+ */
                color: #b1bdd2;
            }
        }
        .searchPart {

            .header {
                color: #949494;
                margin-right: 10px;
            }
            .part {
                margin-bottom: 20px;
            }
            input {
                @include searchinput();
            }
            button{
                &.bsearch{
                    background-color: #2096e9;
                    border: 2px solid #2096e9;
                    outline: none;;
                    color: #fff;
                    height: 40px;
                    width: 90px;
                    margin-right: 12px;

                }
                &.breset{
                     background-color: #fff;
                      border: 2px solid #2096e9;
                      color: #2096e9;
                    outline: none;;
                    
                      height: 40px;
                    width:90px
                }
            }
        }
        .searchTable {
            td {
                border: solid #b4bfd3;
                border-width: 0px 1px 1px 0px;
                padding: 10px 0px;
                text-align: center;
                
            }
            .table {
                width: 100%;
                
                border: solid #b4bfd3;
                border-width: 1px 0px 0px 1px;
               
            }
            thead{
                background-color: #f4f7fc;
            }
            tbody{
                tr,td{
                    height:38px;
                }
                tr:nth-child(even){
                   background-color: #f4f7fc;
                }
            }
        }
    }
    #page1{
        text-align: center;
        margin-top: 20px;
    }
}