#bindex {
    background: url('/img/backend/bg1.png') no-repeat;
    background-size: cover;
    height: 100%;
    height: calc( 100% - 90px );
    .content {
        text-align: center;
    }
    .items {
        text-align: center;
        margin: 0 auto;
        margin-top: 180px;
        display: inline-block;
        .item {
            cursor: pointer;
            float: left;
            width: 300px;
            height: 225px;
            text-align: center;
            position: relative;
            .cir {
                position: absolute;
                width: 100px;
                height: 100px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                border: 2px solid transparent;
                transition: all .3s;
            }
            &.active {
                .cir {
                    width: 130px;
                    height: 130px;
                    border: 2px solid #2096e9;
                }
            }
            .imgs {
                display: inline-block;
                position: relative;
            }
            .text {
                color:#2096e9;
                display: inline-block;
                margin-top: 50px;
                font-size: 26px;
            }
        }
    }
}