#blogin {
    background: url('/img/backend/s1.png') no-repeat;
    background-size: cover;
    height: 100%;
    .cover {
        background-color: rgba(#000, .3);
        height: 100%;
    }
    #section0 {
        .intro {
            h1 {
                color: #fff;
                font-size: 50px;
                text-align: center;
            }
        }
    }
    .content {
        padding-top: 170px;
        .left {
            height: 450px;
            float: left;
            width: 50%;
            position: relative;
            h1 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 50px;
                color: #fff;
                text-align: center;
            }
        }
        .right {
            height: 450px;
            float: right;
            width: 50%;
            .block {
                width: 550px;
                height: 445px;
                border-radius: 5px;
                background-color: rgba(#fff, .5);
                h3 {
                    text-align: center;
                    font-size: 24px;
                    padding: 50px 0;
                }
                .input {
                    height: 60px;
                    width: 395px;
                    margin: 0 auto;
                    margin-bottom: 35px;
                    position: relative;
                    color: #777;
                    i {
                        position: absolute;
                        font-size: 30px;
                        left: 22px;
                        top: 13px;
                    }
                    input {
                        -webkit-box-shadow: 0 0 0 1000px #fff inset!important;
                        outline: none;
                        border: none;
                        width: 100%;
                        height: 100%;
                        background: rgba(255, 255, 255, 0);
                        padding: 5px;
                        padding-left: 60px;
                        font-size: 16px;
                    }
                }
                .loginbtn{
                    color:#fff;
                    margin: 0 auto;
                    display: block;
                    border: none;
                    outline: none;
                    padding: 15px 0;
                    font-size: 20px;
                    height: 60px;
                    width: 395px;
                    cursor: pointer;
                    background-color:#3f8fdb; 
                    &:disabled{
                        background-color: #777;
                    }
                }
            }
        }
    }
}