@import '../common/base.scss';
@import '../common/button.scss';


.gap{
   height: 15px;
   background-color: #eee;
}

.maindata {
    padding: 15px 15px;
    >div {
        background-color: #fff;
    }
    .table {
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 15px;
        border: 1px solid #eee;
        >div {
            padding: 10px;
            border-bottom: 1px solid #eee;
        }
    }
    .tableheader {
        background-color: #2096e9;
        color: #fff;
    }
    .flex-1 {
        text-align: center;
    }
    .promisedesc{
        font-size: 14px;
        line-height: 16px;
    }
}

.submitdiv {
    margin: 40px 15px 0 15px;
    button {
          @include submitbtn;
    }
}
.opt{
    a{
        color: #2096e9;
        border:1px solid #2096e9;
        padding: 2px 4px;
        border-radius: 3px;
    }
}