@import '../common/base.scss';
@import '../common/button.scss';


.banner {
    min-height: 100px;
    padding-bottom: 15px;
    background-color: #eee;
    img {
        display: block;
        max-width: 100%;
        height: auto;
        width: 100%;
    }
}

.maindata {
    background-color: #fff;
    >div {
        padding: 15px 15px;
        border-bottom: 1px solid #eee;
    }
    .title {
        width: 30%;
        white-space: nowrap;
    }
    select {
        width: 60%;
        border: none;
        font-size: 16px;
        background: url('/img/common/drop.png?__inline') no-repeat right;
        background-size: 13px 8px;
        padding-right: 14px;
        text-align: right;
        option {
            text-align: right
        }
    }
      input{
        //   min-width: 94px;
            width:60%;
            border: none;
            outline: none;
            font-size: 16px;
        }
}

.submitdiv {
   margin: 40px 15px 0 15px;
    button {
       @include submitbtn;
    }
}
