@import '../common/base.scss';
@import '../common/button.scss';
.banner {
    min-height: 100px;
    padding-bottom: 15px;
    background-color: #eee;
    img {
        display: block;
        max-width: 100%;
        height: auto;
        width: 100%;
    }
}

.maindata {
    background-color: #eee;
    padding: 15px 0;
    >div {
        background-color: #fff;
        padding: 15px 15px;
        border-bottom: 1px solid #eee;
    }
    .title {
        width: 30%;
    }
    input {
        font-size: 16px;
    }
}

.submitdiv {
    margin: 40px 15px 0 15px;
    button {
@include submitbtn();

    }
}

.payway{
    padding: 15px 15px;

    .wayname{
    
        font-size: 14px;
    }
}
.paylink{
    display: block;
    text-decoration: none;
    margin: 15px;
    color: #000;
}